<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yang.mac.memodule">

    <application>
        <activity android:name=".ui.activity.MyPayTypeActivity">
        </activity>
        <activity android:name=".ui.activity.MessageActivity">
        </activity>
        <activity android:name=".ui.activity.PersonalInfoActivity">
        </activity>
        <activity android:name=".ui.activity.MyOrderActivity">
        </activity>
    </application>

</manifest>