<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.textile.client"
        >

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            >
        <activity android:name=".publish.PublishFindJobActivity">
        </activity>
        <activity android:name=".publish.PublishSupplyActivity">
        </activity>
        <activity android:name=".publish.PublishDemandActivity">
        </activity>
        <activity android:name=".publish.PublishExchangeActivity">
        </activity>
        <activity android:name=".shop_car.ui.ChangeAddressActivity">
        </activity>
        <activity android:name=".shop_car.ui.MyAddressActivity">
        </activity>
        <activity android:name=".mall.ui.ProductInfoActivity">
        </activity>
        <activity android:name=".ShowBigImageActivity">
        </activity>
        <activity android:name=".forum.ui.activity.DetailActivity">
        </activity>
        <activity android:name=".forum.ui.activity.TechExchangeActivity">
        </activity>
        <activity android:name=".mall.ui.ClassifyInfoActivity">
        </activity>
        <activity android:name=".shop_car.ui.ConfirmOrderActivity">
        </activity>
        <activity android:name=".forum.ui.activity.ForumActivity">
        </activity>
        <activity android:name=".home.ui.HomeActivity">
        </activity>
        <activity android:name=".login.ui.LoginActivity"/>
        <activity android:name=".login.ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".me.ui.activity.MyOrderActivity">
        </activity>
        <activity android:name=".login.ui.RegisterActivity">
        </activity>
        <activity android:name=".me.ui.activity.MyPayTypeActivity">
        </activity>
        <activity android:name=".me.ui.activity.MessageActivity">
        </activity>
        <activity android:name=".me.ui.activity.PersonalInfoActivity">
        </activity>
        <activity android:name=".me.ui.activity.CollectionActivity">
        </activity>
        <activity android:name=".me.ui.activity.SetPhoneActivity">
        </activity>
        <activity android:name=".search.SearchActivity"/>
    </application>

</manifest>